{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>
    <section class="container">
        <div class="col">
            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.lastname) }}
            {{ form_row(registrationForm.firstname) }}


            <button type="submit" class="btn btn-primary mt-3">Register</button>
        {{ form_end(registrationForm) }}
        </div>
    </section>
    
{% endblock %}
